
.header-menu{
    @import './color.scss';

    ul{
        display: flex;
        margin-left: 5px;
    
            li{
                list-style: none;
    
                a{
                    font-weight: bold;
                    font-size: 12px;
                    margin-left: 40px;
                    text-decoration: none;
                    color: $quaternary-color ;
                }
            }
    
    }
}

.footer-middle-menu{
    @import './color.scss';
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    h4{
        color: white;
        margin-bottom: 10px;
    }
    
    li{
        list-style: none;
    
        a{
            font-size: 12px;
            text-decoration: none;
            color: $tertiary-color ;
            line-height: 1.4rem;
        }
    }
    .dc-me{
        margin-right: 30px;
    }

    .dc-mt{
        margin-top: 17px;
    }
    
    
}