.header-menu{
    ul{
        display: flex;
        margin-left: 5px;
    
            li{
                list-style: none;
    
                a{
                    font-weight: bold;
                    font-size: 12px;
                    margin-left: 40px;
                    text-decoration: none;
                    color: $quaternary-color ;
                }
            }
    
    }
}